<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="d-flex box container align-items-center" style="justify-content:space-between;">
    <a routerLink="/users" routerLinkActive="active"><button type="button"
        class="btn btn-outline-primary btn-lg mx-auto custom" id="user">Search User</button></a>
    <a routerLink="/repos" routerLinkActive="active"><button type="button"
        class="btn btn-outline-success btn-lg mx-auto custom" id="repo">Search Repository</button></a>
  </div>
</body>

</html>
