<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="d-flex box container justify-content-center align-items-center">
    <button type="button" class="btn btn-outline-primary btn-lg mx-auto custom">Search User</button>
    <button type="button" class="btn btn-outline-success btn-lg mx-auto custom">Search Repository</button>
  </div>
</body>

</html>
